<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition template="/layout/layout.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">
		<c:set var="title" value="Gestion de Caracteristicas" scope="request" />
	</ui:define>

	<ui:define name="content">
		<h:form>
			<h:link value="Nueva Caracteristica" outcome="DatosCaracteristica.xhtml">
				<f:param name="id" value="" />
				<f:param name="modalidad" value="insert" />
			</h:link>


			<h3>
				<h:outputLabel value="Criterios de Seleccion" />
			</h3>


			<p:messages id="messages" showDetail="true" closable="true">
				<p:autoUpdate />
			</p:messages>
			<h:panelGrid columns="2">
				<p:outputLabel value="Id" />
				<p:inputText id="id" value="#{gestionCaracteristicas.criterioNombre}" />




			</h:panelGrid>
			<h:commandButton value="Buscar"
				action="#{gestionCaracteristicas.seleccionarCaracteristicas}" />

		</h:form>

		<h3>
			<h:outputLabel value="Caracteristicas seleccionadas" />
		</h3>
		<p:dataTable value="#{gestionCaracteristicas.caracteristicasSeleccionados}"
			var="caracteristica" styleClass="employeeTable"
			headerClass="employeeTableHeader"
			paginator="true" rows="10"
            paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
            rowsPerPageTemplate="5,10,20" resizableColumns="true"
			>

			<p:column sortBy="#{caracteristica.id}">
				<f:facet name="header">Id</f:facet>    				
      		#{caracteristica.id}
   		</p:column>


			<p:column sortBy="#{caracteristica.nombre}">
				<f:facet name="header">Nombre</f:facet>    				
      		#{caracteristica.nombre}
   		</p:column>

			<p:column sortBy="#{caracteristica.etiqueta}">
				<f:facet name="header">Etiqueta</f:facet>
		      #{caracteristica.etiqueta}
		</p:column>

			
			<p:column sortBy="#{caracteristica.tipoCaractNombre}">
				<f:facet name="header">Tipo Caracteristica</f:facet>
      		#{caracteristica.tipoCaractNombre}
		</p:column>

			<p:column sortBy="#{caracteristica.fenomenoNombre}">
				<f:facet name="header">Fenomeno</f:facet>
      		#{caracteristica.fenomenoNombre}
		</p:column>

			<p:column sortBy="#{caracteristica.id}">

				<f:facet name="header">Ver Detalle</f:facet>
				<h:link value="Ver detalle" outcome="DatosCaracteristica.xhtml">
					<f:param name="id" value="${caracteristica.id}" />
					<f:param name="modalidad" value="view" />
					
				</h:link>
			</p:column>


		</p:dataTable>



	</ui:define>
</ui:composition>