<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition template="/layout/layout.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">
		<c:set var="title" value="Datos de Departamento" scope="request" />
	</ui:define>

	<ui:define name="content">



		<f:metadata>
			<f:viewParam name="id" value="#{gestionDepartamento.id}" />
			<f:viewParam name="modalidad" value="#{gestionDepartamento.modalidad}" />
			<f:event type="preRenderView"
				listener="#{gestionDepartamento.preRenderViewListener}" />
		</f:metadata>


		<h:form id="idDatosDepartamento">

			<p:messages id="messages" closable="true" autoUpdate="true" showDetail="false"/>
			
			<h:commandButton id="idVolver" immediate="true" value="Volver"
				action="Departamentos">

			</h:commandButton>
			<h:commandButton id="idModificar" value="Modificar"
				rendered="#{!gestionDepartamento.modoEdicion}">
				<f:param name="id" value="${gestionDepartamento.id}" />
				<f:param name="modalidad" value="update" />
			</h:commandButton>
			<h:commandButton value="Salvar cambios" 
				rendered="#{gestionDepartamento.modoEdicion}" update=":form" 
				action="#{gestionDepartamento.salvarCambios}">
				<f:param name="id" value="${gestionDepartamento.id}" />
				<f:param name="modalidad" value="update" />
			</h:commandButton>





			<p:panelGrid columns="3">


				<h:outputLabel value="Id" />
				<h:inputText id="id" disabled="true"
					value="#{gestionDepartamento.departamentoSeleccionado.id}" />
				<h:message for="id" style="color:red" />

				<h:outputLabel value="Nombre" />
				<h:inputText id="nombreDepartamento"
					value="#{gestionDepartamento.departamentoSeleccionado.nombre}" 
					required ="true" requiredMessage = "El nombre es obligatorio"/>
				<h:message for="nombreCaracteristica" style="color:red" />

				
				
				<h:outputLabel value="Zona" />
				<h:selectOneMenu id="zona" 
					value="#{gestionDepartamento.departamentoSeleccionado.zona}"
					required ="true" requiredMessage = "La zona es obligatoria">
					<f:selectItem itemValue="" itemLabel="Seleccionar" />
					<f:selectItems value="#{gestionZonas.zonasItem}" />
				</h:selectOneMenu>
				<h:message for="fenomeno" style="color:red" />

				
				



			</p:panelGrid>

		</h:form>






	</ui:define>
</ui:composition>