<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition template="/layout/layout.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">
		<c:set var="title" value="Características de Observacion" scope="request" />
	</ui:define>

	<ui:define name="content">

		<f:metadata>
			<f:viewParam name="id" value="#{gestionObservacion.idObservacion}" />
			<f:viewParam name="modalidad" value="#{gestionObservacion.modalidad}" />
			<f:event type="preRenderView"
				listener="#{gestionObservacion.preRenderViewListener}" />
		</f:metadata>

		<h:form id="idDatosObservacion">

			<p:messages id="messages" closable="true" autoUpdate="true" showDetail="false"/>
			
			<h:commandButton id="idVolver" immediate="true" value="Volver"
				action="Observaciones">
			</h:commandButton>
	
			<h:commandButton value="Guardar Caracteristica" 
				 update=":form" 
				action="#{gestionObservacion.argregarObsCaract}">
				<f:param name="id" value="${gestionObservacion.idObservacion}" />
				<f:param name="modalidad" value="updateCaract" />
			</h:commandButton>
 			

			<p:panelGrid columns="3">


				<h:outputLabel value="Id" />
				<h:inputText id="id" disabled="true"
					value="#{gestionObservacion.observacionSeleccionado.idObservacion}" />
				<h:message for="id" style="color:red" />

				<h:outputLabel value="Descripcion de Observacion" />
				<h:inputText id="descripcionObservacion" disabled="true"
					value="#{gestionObservacion.observacionSeleccionado.descripcion}" />
				<h:message for="descripcionObservacion" style="color:red" />

				<h:outputLabel value="Latitud" />
				<h:inputText id="latitud" disabled="true"
					value="#{gestionObservacion.observacionSeleccionado.latitud}" />
				<h:message for="latitud" style="color:red" />

				<h:outputLabel value="Longitud" />
				<h:inputText id="longitud" disabled="true"
					value="#{gestionObservacion.observacionSeleccionado.longitud}" />
				<h:message for="longitud" style="color:red" />

				<h:outputLabel value="Altitud" />
				<h:inputText id="altitud" disabled="true"
					value="#{gestionObservacion.observacionSeleccionado.altitud}" />
				<h:message for="altitud" style="color:red" />
				
				

			
				<h:outputLabel value="Criticidad" />
				<h:selectOneMenu id="criticidad" disabled="true"
					value="#{gestionObservacion.observacionSeleccionado.idCriticidad}">
					<f:selectItem itemValue="" itemLabel="Seleccionar" />
					<f:selectItems value="#{gestionCriticidad.criticidadItem}" />
				</h:selectOneMenu>
				<h:message for="criticidad" style="color:red" />
				
				
				<h:outputLabel value="Localidad" />
				<h:selectOneMenu id="localidad" disabled="true"
				value="#{gestionObservacion.observacionSeleccionado.idLocalidad}">
					<f:selectItem itemValue="" itemLabel="Seleccionar" />
					<f:selectItems value="#{gestionLocalidades.localidadesItem}" />
				</h:selectOneMenu>
				<h:message for="fenomeno" style="color:red" />
				
				<h:outputLabel value="Fenomeno" />
					<h:selectOneMenu id="fenomeno" disabled="true" 
					value="#{gestionObservacion.observacionSeleccionado.idFenomeno}">
						<f:selectItem itemValue="" itemLabel="Seleccionar" />
						<f:selectItems value="#{gestionFenomenos.tipoCaractsItem}" />
					</h:selectOneMenu>
				<h:message for="fenomeno" style="color:red" />
				
				<h:outputLabel value="Características" />
					<h:selectOneMenu id="caracteristicas" 
						value="#{gestionObservacion.observacionSeleccionado.idCaract}"
						required ="true" requiredMessage = "La característica es obligatoria">
						<f:selectItem itemValue="" itemLabel="Seleccionar" />
						<f:selectItems value="#{gestionObservacion.caractItemDeFenomeno}" />
					</h:selectOneMenu>
				<h:message for="caracteristicas" style="color:red" />
				
				<h:outputLabel value="Valor numérico" />
				<h:inputText id="numero" 
					value="#{gestionObservacion.observacionSeleccionado.datoNumeroCaract}" 
					required ="true" requiredMessage = "El valor numérico es obligatorio"/>
				<h:message for="numero" style="color:red" />
				
				<h:outputLabel value="Valor texto" />
				<h:inputText id="texto" 
					value="#{gestionObservacion.observacionSeleccionado.datoTextoCaract}" 
					required ="true" requiredMessage = "El valor texto es obligatorio"/>
				<h:message for="texto" style="color:red" />
						
			</p:panelGrid>

		</h:form>
		
	<p:dataTable value="#{gestionObservacion.listaCaractObservMostrar}"
					var="obsCaracteristica" styleClass="employeeTable"
					headerClass="employeeTableHeader"
					paginator="true" rows="10"
		            paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
		            rowsPerPageTemplate="5,10,20" resizableColumns="true"
					>
		
				<p:column sortBy="#{obsCaracteristica.idCaract}">
						<f:facet name="header">Id Caract.</f:facet>    				
		      		#{obsCaracteristica.idCaract}
		   		</p:column>
		
		 
				<p:column sortBy="#{obsCaracteristica.idCaract}">
						<f:facet name="header">Nombre Caract</f:facet>    				
		      		#{obsCaracteristica.idCaractNom}
		   		</p:column>
	<!--  
				<p:column sortBy="#{obsCaracteristica.idCaract}">
						<f:facet name="header">idObs</f:facet>
				      #{obsCaracteristica.idObs}
				</p:column>
		 
					
				<p:column sortBy="#{obsCaracteristica.idCaract}">
						<f:facet name="header">idObs Nom</f:facet>
		      		#{obsCaracteristica.idObsNom}
				</p:column>
	-->
				<p:column sortBy="#{obsCaracteristica.idCaract}">
						<f:facet name="header">numero</f:facet>
		      		#{obsCaracteristica.numero}
				</p:column>
				<p:column sortBy="#{obsCaracteristica.idCaract}">
						<f:facet name="header">texto</f:facet>
		      		#{obsCaracteristica.texto}
				</p:column>
				<p:column sortBy="#{obsCaracteristica.idCaract}">
	
					<f:facet name="header">Ver Detalle Caract.</f:facet>
					<h:link value="Ver detalle" outcome="DatosCaracteristica.xhtml">
						<f:param name="id" value="${obsCaracteristica.idCaract}" />
						<f:param name="modalidad" value="view" />
						
					</h:link>
					
					
				</p:column>


		</p:dataTable>




	</ui:define>
</ui:composition>