<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition template="/layout/layout.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">
		<c:set var="title" value="Datos de Observacion" scope="request" />
	</ui:define>

	<ui:define name="content">

		<f:metadata>
			<f:viewParam name="id" value="#{gestionObservacion.idObservacion}" />
			<f:viewParam name="modalidad" value="#{gestionObservacion.modalidad}" />
			<f:event type="preRenderView"
				listener="#{gestionObservacion.preRenderViewListener}" />
		</f:metadata>

		<h:form id="idDatosObservacion">

			<p:messages id="messages" closable="true" autoUpdate="true" showDetail="false"/>
			
			<h:commandButton id="idVolver" immediate="true" value="Volver"
				action="Observaciones">
			</h:commandButton>
			
 			<h:commandButton id="idModificar" value="Modificar"
				rendered="#{!gestionObservacion.modoEdicion}">
				<f:param name="id" value="${gestionObservacion.idObservacion}" />
				<f:param name="modalidad" value="update" />
			</h:commandButton>
			
			<h:commandButton value="Salvar cambios" 
				rendered="#{gestionObservacion.modoEdicion}" update=":form" 
				action="#{gestionObservacion.salvarCambios}">
				<f:param name="id" value="${gestionObservacion.idObservacion}" />
				<f:param name="modalidad" value="update" />
			</h:commandButton>
			
			<h:commandButton id="validarObs" immediate="true" value="Validar"
				rendered="#{!gestionObservacion.modoEdicion}"
				action="ValidarObservaciones">
			</h:commandButton>				
				
			<h:commandButton id="idObsCaract" immediate="true" value="Agregar Características"
				rendered="#{!gestionObservacion.modoEdicion}"
				action="DatosObsCaract">
				<f:param name="id" value="${gestionObservacion.idObservacion}" />
				<f:param name="modalidad" value="updateCaract" />
			</h:commandButton>
			
			<h:commandButton value="Eliminar"
				rendered="#{!gestionObservacion.modoEdicion}"
				action="#{gestionObservacion.borrar}">
				<f:param name="id" value="${gestionObservacion.idObservacion}" />
				<f:param name="modalidad" value="update" />
			</h:commandButton>

			<p:panelGrid columns="3">

				<h:outputLabel value="Id" />
				<h:inputText id="id" disabled="true"
					value="#{gestionObservacion.observacionSeleccionado.idObservacion}" />
				<h:message for="id" style="color:red" />

				<h:outputLabel value="Descripción" />
				<h:inputText id="descripcionObservacion"
					value="#{gestionObservacion.observacionSeleccionado.descripcion}" 
					required ="true" requiredMessage = "La descripción es obligatoria"/>
				<h:message for="descripcionObservacion" style="color:red" />

				<h:outputLabel value="Latitud" />
				<h:inputText id="latitud"
					value="#{gestionObservacion.observacionSeleccionado.latitud}" 
					required ="true" requiredMessage = "La latitud es obligatoria"/>
				<h:message for="latitud" style="color:red" />

				<h:outputLabel value="Longitud" />
				<h:inputText id="longitud"
					value="#{gestionObservacion.observacionSeleccionado.longitud}" 
					required ="true" requiredMessage = "La longitud es obligatoria"/>
				<h:message for="longitud" style="color:red" />

				<h:outputLabel value="Altitud" />
				<h:inputText id="altitud"
					value="#{gestionObservacion.observacionSeleccionado.altitud}" />
				<h:message for="altitud" style="color:red" />
		
				<h:outputLabel value="Criticidad" />
				<h:selectOneMenu id="criticidad"
					value="#{gestionObservacion.observacionSeleccionado.idCriticidad}"
					required ="true" requiredMessage = "La criticidad es obligatoria">
					<f:selectItem itemValue="" itemLabel="Seleccionar" />
					<f:selectItems value="#{gestionCriticidad.criticidadItem}" />
				</h:selectOneMenu>
				<h:message for="criticidad" style="color:red" />
				
				<h:outputLabel value="Fenómeno" />
				<h:selectOneMenu id="fenomeno" 
					value="#{gestionObservacion.observacionSeleccionado.idFenomeno}"
					required ="true" requiredMessage = "El fenómeno es obligatorio">
					<f:selectItem itemValue="" itemLabel="Seleccionar" />
					<f:selectItems value="#{gestionFenomenos.tipoCaractsItem}" />
				</h:selectOneMenu>
				<h:message for="fenomeno" style="color:red" />
					
				<h:outputLabel value="Localidad" />
				<h:selectOneMenu id="localidad" 
					value="#{gestionObservacion.observacionSeleccionado.idLocalidad}"
					required ="true" requiredMessage = "La localidad  es obligatoria">
					<f:selectItem itemValue="" itemLabel="Seleccionar" />
					<f:selectItems value="#{gestionLocalidades.localidadesItem}" />
				</h:selectOneMenu>
				<h:message for="fenomeno" style="color:red" />		

			</p:panelGrid>

		</h:form>


	</ui:define>
</ui:composition>