<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition template="/layout/layout.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">
		<c:set var="title" value="Datos de Localidad" scope="request" />
	</ui:define>

	<ui:define name="content">



		<f:metadata>
			<f:viewParam name="id" value="#{gestionLocalidad.id}" />
			<f:viewParam name="modalidad" value="#{gestionLocalidad.modalidad}" />
			<f:event type="preRenderView"
				listener="#{gestionLocalidad.preRenderViewListener}" />
		</f:metadata>


		<h:form id="idDatosLocalidad">

			<p:messages id="messages" closable="true" autoUpdate="true" showDetail="false"/>
			
			<h:commandButton id="idVolver" immediate="true" value="Volver"
				action="Localidades">

			</h:commandButton>
			<h:commandButton id="idModificar" value="Modificar"
				rendered="#{!gestionLocalidad.modoEdicion}">
				<f:param name="id" value="${gestionLocalidad.id}" />
				<f:param name="modalidad" value="update" />
			</h:commandButton>
			<h:commandButton value="Salvar cambios" 
				rendered="#{gestionLocalidad.modoEdicion}" update=":form" 
				action="#{gestionLocalidad.salvarCambios}">
				<f:param name="id" value="${gestionLocalidad.id}" />
				<f:param name="modalidad" value="update" />
			</h:commandButton>





			<p:panelGrid columns="3">


				<h:outputLabel value="Id" />
				<h:inputText id="id" disabled="true"
					value="#{gestionLocalidad.localidadSeleccionado.id}" />
				<h:message for="id" style="color:red" />

				<h:outputLabel value="Nombre" />
				<h:inputText id="nombreLocalidad"
					value="#{gestionLocalidad.localidadSeleccionado.nombre}" 
					required ="true" requiredMessage = "El nombre es obligatorio"/>
				<h:message for="nombreLocalidad" style="color:red" />

				
				
				<h:outputLabel value="Departamento" />
				<h:selectOneMenu id="departamento" 
					value="#{gestionLocalidad.localidadSeleccionado.departamento}"
					required ="true" requiredMessage = "El departamento es obligatorio">
					<f:selectItem itemValue="" itemLabel="Seleccionar" />
					<f:selectItems value="#{gestionDepartamentos.departamentosItem}" />
				</h:selectOneMenu>
				<h:message for="departamento" style="color:red" />

				
				



			</p:panelGrid>

		</h:form>






	</ui:define>
</ui:composition>