<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition template="/layout/layout.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">
		<c:set var="title" value="Gestion de Fenomenos" scope="request" />
	</ui:define>

	<ui:define name="content">
		<h:form>
			<h:link value="Nuevo Fenomeno" outcome="DatosFenomeno.xhtml">
				<f:param name="id" value="" />
				<f:param name="modalidad" value="insert" />
			</h:link>


			<h3>
				<h:outputLabel value="Criterios de Seleccion" />
			</h3>


			<p:messages id="messages" showDetail="true" closable="true">
				<p:autoUpdate />
			</p:messages>
			<h:panelGrid columns="2">
				<p:outputLabel value="Nombre" />
				<p:inputText id="nombre" value="#{gestionFenomenos.criterioNombre}" />




			</h:panelGrid>
			<h:commandButton value="Buscar"
				action="#{gestionFenomenos.seleccionarFenomenosPorNombre}" />

		</h:form>

		<h3>
			<h:outputLabel value="Fenomenos seleccionados" />
		</h3>
		<p:dataTable value="#{gestionFenomenos.fenomenosSeleccionados}"
			var="fenomeno" styleClass="employeeTable"
			headerClass="employeeTableHeader"
			paginator="true" rows="10"
            paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
            rowsPerPageTemplate="5,10,20" resizableColumns="true"
			>

			<p:column sortBy="#{fenomeno.idFenomeno}">
				<f:facet name="header">Id</f:facet>    				
      		#{fenomeno.idFenomeno}
   		</p:column>


			<p:column sortBy="#{fenomeno.nombre}">
				<f:facet name="header">Nombre</f:facet>    				
      		#{fenomeno.nombre}
   		</p:column>

			<p:column sortBy="#{fenomeno.descripcion}">
				<f:facet name="header">Descripcion</f:facet>
		      #{fenomeno.descripcion}
		</p:column>

			<p:column sortBy="#{fenomeno.telefono}">
				<f:facet name="header">Telefono</f:facet>
      		#{fenomeno.telefono}
   		</p:column>

			

			<p:column sortBy="#{fenomeno.idFenomeno}">

				<f:facet name="header">Ver Detalle</f:facet>
				<h:link value="Ver detalle" outcome="DatosFenomeno.xhtml">
					<f:param name="id" value="${fenomeno.idFenomeno}" />
					<f:param name="modalidad" value="view" />
					
				</h:link>
			</p:column>


		</p:dataTable>



	</ui:define>
</ui:composition>