<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition template="/layout/layout.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">
		<c:set var="title" value="Gestion de Localidades" scope="request" />
	</ui:define>

	<ui:define name="content">
		<h:form>
			<h:link value="Nueva Localidad" outcome="DatosLocalidad.xhtml">
				<f:param name="id" value="" />
				<f:param name="modalidad" value="insert" />
			</h:link>


			<h3>
				<h:outputLabel value="Criterios de Seleccion" />
			</h3>


			<p:messages id="messages" showDetail="true" closable="true">
				<p:autoUpdate />
			</p:messages>
			<h:panelGrid columns="2">
				<p:outputLabel value="Nombre" />
				<p:inputText id="nombre" value="#{gestionLocalidades.criterioNombre}" />




			</h:panelGrid>
			<h:commandButton value="Buscar"
				action="#{gestionLocalidades.seleccionarLocalidadesPorNombre}" />

		</h:form>

		<h3>
			<h:outputLabel value="Localidades seleccionadas" />
		</h3>
		<p:dataTable value="#{gestionLocalidades.localidadesSeleccionados}"
			var="localidad" styleClass="employeeTable"
			headerClass="employeeTableHeader"
			paginator="true" rows="10"
            paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
            rowsPerPageTemplate="5,10,20" resizableColumns="true"
			>

			<p:column sortBy="#{localidad.id}">
				<f:facet name="header">Id</f:facet>    				
      		#{localidad.id}
   		</p:column>


			<p:column sortBy="#{localidad.nombre}">
				<f:facet name="header">Nombre</f:facet>    				
      		#{localidad.nombre}
   		</p:column>

			
			<p:column sortBy="#{localidad.departamentoNombre}">
				<f:facet name="header">Departamento</f:facet>
      		#{localidad.departamentoNombre}
		</p:column>

			<p:column sortBy="#{localidad.id}">

				<f:facet name="header">Ver Detalle</f:facet>
				<h:link value="Ver detalle" outcome="DatosLocalidad.xhtml">
					<f:param name="id" value="${localidad.id}" />
					<f:param name="modalidad" value="view" />
					
				</h:link>
			</p:column>


		</p:dataTable>



	</ui:define>
</ui:composition>