<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition template="/layout/layout.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">
		<c:set var="title" value="Gestion de Observaciones" scope="request" />
	</ui:define>

	<ui:define name="content">
		<h:form>
		
			<h:link value="Nueva Observacion" outcome="DatosObservacion.xhtml">
				<f:param name="id" value="" />
				<f:param name="modalidad" value="insert" />
			</h:link>

			<h3>
				<h:outputLabel value="Criterios de Seleccion" />
			</h3>

			<p:messages id="messages" showDetail="true" closable="true">
				<p:autoUpdate />
			</p:messages>
			
			<h:panelGrid columns="8">
				
				<p:outputLabel value="Descripción" />
				<p:inputText id="descripcion" value="#{gestionObservaciones.criterioDescripcion}" />				
				
				<h:outputLabel value="Fenomeno" />
				<h:selectOneMenu id="fenomeno" value="#{gestionObservaciones.criterioFenomeno}">
					<f:selectItem itemValue="0" itemLabel="Seleccionar" />
					<f:selectItems value="#{gestionFenomenos.tipoCaractsItem}" />
				</h:selectOneMenu>
				
				<h:outputLabel value="Criticidad" />
				<h:selectOneMenu id="criticidad" value="#{gestionObservaciones.criterioCriticidad}">
					<f:selectItem itemValue="0" itemLabel="Seleccionar" />
					<f:selectItems value="#{gestionCriticidad.criticidadItem}" />
				</h:selectOneMenu>
				
				<h:outputLabel value="Validado" />
				<h:selectOneMenu id="validado"
					value="#{gestionObservaciones.criterioValidado}">
					<f:selectItem itemValue="0" itemLabel="Seleccionar" />
				    <f:selectItem itemValue="1" itemLabel="Si"/>
   					<f:selectItem itemValue="2" itemLabel="No"/>
				</h:selectOneMenu>
				
		        <p:outputLabel for="datetime" value="Desde:" />
		        <p:calendar id="desde" value="#{gestionObservaciones.criterioFechaIni}" pattern="dd/MM/yyyy" />
     
			    <p:dialog modal="true" resizable="false" header="Values" widgetVar="dlg" showEffect="fold">
			        <p:panelGrid id="display" columns="2" columnClasses="label,value">		           
			            <h:outputText value="Datetime:" />
			            <h:outputText value="#{gestionObservaciones.criterioFechaIni}">
			                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
			            </h:outputText>		 
			        </p:panelGrid>
			    </p:dialog>    
        
		        <p:outputLabel for="datetime" value="Hasta:" />
		        <p:calendar id="datetime" value="#{gestionObservaciones.criterioFechaFin}" pattern="dd/MM/yyyy" />
     
			    <p:dialog modal="true" resizable="false" header="Values" widgetVar="dlg" showEffect="fold">
			        <p:panelGrid id="display2" columns="2" columnClasses="label,value">			           
			            <h:outputText value="Datetime:" />
			            <h:outputText value="#{gestionObservaciones.criterioFechaFin}">
			                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
			            </h:outputText>			 
			        </p:panelGrid>
			    </p:dialog>
		
			</h:panelGrid>

			<h:commandButton value="Buscar"
				action="#{gestionObservaciones.seleccionarObservacionesPorCriterios}" />
				
		</h:form>

		<h3>
			<h:outputLabel value="Observaciones seleccionadas" />
		</h3>
		
		<p:dataTable value="#{gestionObservaciones.observacionesSeleccionados}"
			var="observacion" styleClass="employeeTable"
			headerClass="employeeTableHeader"
			paginator="true" rows="10"
            paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
            rowsPerPageTemplate="5,10,20" resizableColumns="true"
			>

			<p:column sortBy="#{observacion.idObservacion}">
				<f:facet name="header">Id</f:facet>    				
      		#{observacion.idObservacion}
   		</p:column>


			<p:column sortBy="#{observacion.descripcion}">
				<f:facet name="header">Descripcion</f:facet>    				
      		#{observacion.descripcion}
   		</p:column>
<!-- 
			<p:column sortBy="#{observacion.latitud}">
				<f:facet name="header">Latitud</f:facet>
		      #{observacion.latitud}
		</p:column>

			<p:column sortBy="#{observacion.longitud}">
				<f:facet name="header">Longitud</f:facet>
      		#{observacion.longitud}
   		</p:column>
		<p:column sortBy="#{observacion.altitud}">
				<f:facet name="header">Altitud</f:facet>
      		#{observacion.altitud}
		</p:column>
 -->
			<p:column sortBy="#{observacion.fechaHoraString}">
				<f:facet name="header">Fecha</f:facet>
      		#{observacion.fechaHoraString}
		</p:column>

			<p:column sortBy="#{observacion.idCriticidadNombre}">
				<f:facet name="header">Criticidad</f:facet>
      		#{observacion.idCriticidadNombre}
		</p:column>

			<p:column sortBy="#{observacion.idFenomenoNombre}">
				<f:facet name="header">Fenomeno</f:facet>
      		#{observacion.idFenomenoNombre}
		</p:column>
		
		<p:column sortBy="#{observacion.idLocalidadNombre}">
				<f:facet name="header">Localidad</f:facet>
      		#{observacion.idLocalidadNombre}
		</p:column>
	 <p:column sortBy="#{observacion.idUsuarioAltaNombre}">
				<f:facet name="header">Usuario Alta</f:facet>
      		#{observacion.idUsuarioAltaNombre}
		</p:column>
		
		<p:column sortBy="#{observacion.validFechaString}">
				<f:facet name="header">Fecha Val</f:facet>
      		#{observacion.validFechaString}
		</p:column>
		
		<p:column sortBy="#{observacion.idUsuarioValiNombre}">
				<f:facet name="header">Usuario Val</f:facet>
      		#{observacion.idUsuarioValiNombre}
		</p:column>
		
		<p:column sortBy="#{observacion.validComents}">
				<f:facet name="header">Comentarios</f:facet>
      		#{observacion.validComents}
		</p:column>
	
			<p:column sortBy="#{observacion.idObservacion}">

				<f:facet name="header">Ver Detalle</f:facet>
				<h:link value="Ver detalle" outcome="DatosObservacion.xhtml">
					<f:param name="id" value="${observacion.idObservacion}" />
					<f:param name="modalidad" value="view" />
					
				</h:link>
			</p:column>


		</p:dataTable>



	</ui:define>
</ui:composition>