<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition template="/layout/layout.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">
		<c:set var="title" value="Validar Observacion" scope="request" />
	</ui:define>

	<ui:define name="content">



		<f:metadata>
			<f:viewParam name="id" value="#{gestionObservacion.idObservacion}" />
			<f:viewParam name="modalidad" value="#{gestionObservacion.modalidad}" />
			<f:event type="preRenderView"
				listener="#{gestionObservacion.preRenderViewListener}" />
		</f:metadata>

		<h:form id="idDatosObservacion">

			<p:messages id="messages" closable="true" autoUpdate="true" showDetail="false"/>
			
			<h:commandButton id="idVolver" immediate="true" value="Volver"
				action="Observaciones">
			</h:commandButton>
			
			<h:commandButton value="Confirmar" 
				rendered="#{!gestionObservacion.modoEdicion}" update=":form"
				action="#{gestionObservacion.salvarCambios}">  
				<f:param name="id" value="${gestionObservacion.idObservacion}" />
				<f:param name="modalidad" value="update" />
			</h:commandButton>


			<p:panelGrid columns="3">


				<h:outputLabel value="Id" />
				<h:inputText id="id" disabled="true"
					value="#{gestionObservacion.observacionSeleccionado.idObservacion}" />
				<h:message for="id" style="color:red" />

				
				
				<h:outputLabel value="Usuario Validador" />
				<h:inputText id="usuarioVali" disabled="true"
					value="#{gestionObservacion.observacionSeleccionado.idUsuarioVali}" />
				<h:message for="usuarioVali" style="color:red" />

				<h:outputLabel value="Comentario" />
				<h:inputText id="validComents"
					value="#{gestionObservacion.observacionSeleccionado.validComents}" />
				<h:message for="validComents" style="color:red" />



			</p:panelGrid>

		</h:form>






	</ui:define>
</ui:composition>