<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	<!-- <p:panelGrid columns="1" style="text-align: left;" cellpadding="2">  -->

	<h:form>
		<p
			style="align-text: right; color: blue; font-size: 180%; font-family: Arial">ROM</p>
		<p:growl id="messages" />
		<p:menubar>

			<p:menuitem value="Inicio" url="http://192.168.0.50:8082/ROM_CanarySoftware/index.xhtml" /> 
			
			<p:submenu label="Gestion de Usuarios" icon="ui-icon-document">
				
				<p:menuitem value="Seleccion de usuario"
					url="/ROM_CanarySoftware/pages/Usuarios.xhtml" />
				
				<p:menuitem value="Alta de usuario"
					url="/ROM_CanarySoftware/pages/DatosUsuario.xhtml">
					<f:param name="id" value="" />
					<f:param name="modalidad" value="insert" />
				</p:menuitem>	  
					
			</p:submenu>
			
			<p:submenu label="Gestion de Observaciones" icon="ui-icon-document">
				
				<p:menuitem value="Seleccion de observacion"
					url="/ROM_CanarySoftware/pages/Observaciones.xhtml" />
				
				<p:menuitem value="Alta de observacion"
					url="/ROM_CanarySoftware/pages/DatosObservacion.xhtml">
					<f:param name="id" value="" />
					<f:param name="modalidad" value="insert" />					
				</p:menuitem>
					
			</p:submenu>
			
			
			<p:submenu label="Busquedas" icon="ui-icon-search">
				<p:menuitem value="Busqueda/Usuarios" url="/ROM_CanarySoftware/pages/Usuarios.xhtml" />
				<p:menuitem value="Busqueda/Observaciones" url="/ROM_CanarySoftware/pages/Observaciones.xhtml" />
			</p:submenu>
			



			<p:submenu label="Configuracion" icon="ui-icon-gear">
				
				<p:menuitem value="Gestionar Usuarios" 
				url="/ROM_CanarySoftware/pages/Usuarios.xhtml" />
				<p:menuitem value="Gestionar Observaciones"
				url="/ROM_CanarySoftware/pages/Observaciones.xhtml" />
				
				<p:menuitem value="Gestionar Fenomenos"
				url="/ROM_CanarySoftware/pages/Fenomenos.xhtml" />
				<p:menuitem value="Gestionar Caracteristicas"
				url="/ROM_CanarySoftware/pages/Caracteristicas.xhtml" />
				<p:menuitem value="Gestionar Localidades"
				url="/ROM_CanarySoftware/pages/Localidades.xhtml" />
				<p:menuitem value="Gestionar Departamentos"
				url="/ROM_CanarySoftware/pages/Departamentos.xhtml" />
			</p:submenu>


   
			
			<f:facet name="options">
		<!--		<p:inputText style="margin:1px 10px 1px 1px;" placeholder="Search" />  -->
				<p:commandButton id="loginButton" value="Logout"
             actionListener="#{loginBean.logout}"
             oncomplete="logout(xhr, status, args)" icon="pi pi-home"/>
				 
			</f:facet>
		</p:menubar>
	</h:form>


	<!--   </p:panelGrid> -->



</ui:composition>