<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	<!-- <p:panelGrid columns="1" style="text-align: left;" cellpadding="2">  -->

	<h:form>
		<p
			style="align-text: right; color: blue; font-size: 180%; font-family: Arial">SGP</p>
		<p:growl id="messages" />
		<p:menubar>

			<p:submenu label="Gestion de Usuarios" icon="ui-icon-document">
				<p:menuitem value="Seleccion de usuario"
					url="/ROM_CanarySoftware/pages/Usuarios.xhtml" />
				<p:menuitem value="Alta de usuario"
					url="/ROM_CanarySoftware/pages/Usuarios.xhtml" />
			</p:submenu>


			<p:submenu label="Busquedas" icon="ui-icon-search">
				<p:menuitem value="Busqueda/nombre emp." url="#" />
				<p:menuitem value="Busqueda/Deptartamento" url="#" />
			</p:submenu>



			<p:submenu label="Configuration" icon="ui-icon-gear">
				<p:menuitem value="Gestionar Usuarios" />
				<p:menuitem value="Gestionar Clientes" />
			</p:submenu>



			<p:menuitem value="Quit" url="/" icon="ui-icon-close" />

			<f:facet name="options">
				<p:inputText style="margin:1px 10px 1px 1px;" placeholder="Search" />
				<p:commandButton type="button" value="Logout" icon="pi pi-home" />
			</f:facet>
		</p:menubar>
	</h:form>


	<!--   </p:panelGrid> -->



</ui:composition>